@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


#navPrincipal{
	padding: 2%;
    background-color: rgb(88, 88, 88);
}

#navPrincipal .nav-link,
#navPrincipal .navbar-brand {
  color: white;
}

#navPrincipal .nav-link:hover {
  color: rgb(148, 233, 21); /* Destaque ao passar o mouse */
}


#carouselExampleCaptions {
    max-width: 98.9%;
    margin: 0 auto;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    position: relative;
    height: 600px; /* altura fixa para manter padrão */
  }
  
  #carouselExampleCaptions .carousel-item img {
 	height: 100%;
    width: 100%;
    object-fit: cover; /* cobre todo o espaço sem deformar */
    background-color: #000;       
  }

  #minecraft{
    display: flex;
  justify-content: center;  /* Centraliza os cards */
  gap: 2px;                /* Espaço entre os cards */
  flex-wrap: wrap;          /* Permite quebrar linha em telas menores */
  margin: 40px auto
  }

  #stardew{
    display: flex;
  justify-content: center;  /* Centraliza os cards */
  gap: 2px;                /* Espaço entre os cards */
  flex-wrap: wrap;          /* Permite quebrar linha em telas menores */
  margin: 40px auto
  }

  #terra{
    display: flex;
  justify-content: center;  /* Centraliza os cards */
  gap: 2px;                /* Espaço entre os cards */
  flex-wrap: wrap;          /* Permite quebrar linha em telas menores */
  margin: 40px auto
  }

  .linha-de-cards {
    display: flex;
    gap: 20px;
  }

  #btn-buscar{
    border-color: rgb(148, 233, 21);
    color: rgb(148, 233, 21);
  }
  #btn-buscar:hover {
    background-color: rgb(148, 233, 21);
    color: white;            
  }


#btn-jogos{
    background-color: rgb(148, 233, 21);
    border-color: rgb(148, 233, 21);
}