<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>Teste</servlet-name>
  	<display-name>Teste</display-name>
  	<description></description>
  	<servlet-class>model.Teste</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Hello</servlet-name>
  	<display-name>Hello</display-name>
  	<description></description>
  	<servlet-class>Hello</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddGameServlet</servlet-name>
  	<display-name>AddGameServlet</display-name>
  	<description></description>
  	<servlet-class>controller.AddGameServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ViewGameServlet</servlet-name>
  	<display-name>ViewGameServlet</display-name>
  	<description></description>
  	<servlet-class>controller.ViewGameServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdateGameServlet</servlet-name>
  	<display-name>UpdateGameServlet</display-name>
  	<description></description>
  	<servlet-class>controller.UpdateGameServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeleteGameServlet</servlet-name>
  	<display-name>DeleteGameServlet</display-name>
  	<description></description>
  	<servlet-class>controller.DeleteGameServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Teste</servlet-name>
  	<url-pattern>/Teste</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Hello</servlet-name>
  	<url-pattern>/Hello</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddGameServlet</servlet-name>
  	<url-pattern>/AddGameServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ViewGameServlet</servlet-name>
  	<url-pattern>/ViewGameServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateGameServlet</servlet-name>
  	<url-pattern>/UpdateGameServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteGameServlet</servlet-name>
  	<url-pattern>/DeleteGameServlet</url-pattern>
  </servlet-mapping>
</web-app>


